<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>week6.day2.LearnGroups</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createLead</td>
<td>smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>mergeLead</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>duplicateLead</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteLead</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>editLead</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
