<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>LearnGroups.createLead()[pri:0, instance:week6.day2.LearnGroups@568bf312]<br/></td></tr>
</table>
