<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b59d91">  <td>21/06/13 11:29:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LearnGroups.editLead()[pri:0, instance:week6.day2.LearnGroups@568bf312]">editLead</td> 
  <td>main@26728049</td>   <td></td> </tr>
<tr bgcolor="b59d91">  <td>21/06/13 11:29:20</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LearnGroups.createLead()[pri:0, instance:week6.day2.LearnGroups@568bf312]">createLead</td> 
  <td>main@26728049</td>   <td></td> </tr>
</table>
