<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acb08a">  <td>21/07/12 22:06:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:runner.RunTest@2aece37d]">runScenario</td> 
  <td>TestNG-test=Test-1@1297041470</td>   <td></td> </tr>
<tr bgcolor="acb08a">  <td>21/07/12 22:06:59</td>   <td>29549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:runner.RunTest@2aece37d]">runScenario</td> 
  <td>TestNG-test=Test-1@1297041470</td>   <td></td> </tr>
<tr bgcolor="acb08a">  <td>21/07/12 22:07:19</td>   <td>49011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:runner.RunTest@2aece37d]">runScenario</td> 
  <td>TestNG-test=Test-1@1297041470</td>   <td></td> </tr>
<tr bgcolor="acb08a">  <td>21/07/12 22:07:42</td>   <td>72458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:runner.RunTest@2aece37d]">runScenario</td> 
  <td>TestNG-test=Test-1@1297041470</td>   <td></td> </tr>
<tr bgcolor="acb08a">  <td>21/07/12 22:08:03</td>   <td>93720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper, io.cucumber.testng.FeatureWrapper)[pri:0, instance:runner.RunTest@2aece37d]">runScenario</td> 
  <td>TestNG-test=Test-1@1297041470</td>   <td></td> </tr>
<tr bgcolor="acb08a">  <td>21/07/12 22:06:26</td>   <td>-4033</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.RunTest@2aece37d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1297041470</td>   <td></td> </tr>
<tr bgcolor="acb08a">  <td>21/07/12 22:08:58</td>   <td>148130</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.RunTest@2aece37d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1297041470</td>   <td></td> </tr>
</table>
